<!--Left Panel-->

<!--Profile Features-->
<ul class="list-group menu con">
    <li class="list-group-item form-head">
        <b>
        <i class="fa fa-th-list -bold" aria-hidden="true"></i>
            MENU
        </b>
    </li>

    <!--READER OPERATIONS-->

    <li ng-if="model.role === 'READER' || model.user.role === 'READER'"
        class="list-group-item menu">
        <button class="accordion"
                data-toggle="collapse"
                data-target="#subs">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            My Subscriptions
            <i class="fa fa-info pull-right" aria-hidden="true"></i>
        </button>

        <div id="subs"
             class="collapse">
                <ul class="accordion-list">
                    <li class="list-group-item"
                        ng-repeat="sub in model.subscriptions">
                        {{sub.firstName}} {{sub.lastName}}
                    </li>
                </ul>
        </div>
    </li>


    <li ng-if="model.role === 'READER' || model.user.role === 'READER'"
        class="list-group-item menu">
        <button class="accordion"
                data-toggle="collapse"
                data-target="#followers">
            <i class="fa fa-male" aria-hidden="true"></i>
            My Followers
            <i class="fa fa-info pull-right" aria-hidden="true"></i>
        </button>
        <div id="followers"
             class="collapse">
            <ul class="accordion-list">
                <li class="list-group-item"
                    ng-repeat="follower in model.followers">
                    {{follower.firstName}} {{follower.lastName}}
                </li>
            </ul>
        </div>
    </li>

    <li ng-if="model.role === 'READER' || model.user.role === 'READER'"
        class="list-group-item menu">
        <button class="accordion"
                data-toggle="collapse"
                data-target="#following">
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            Readers you follow
            <i class="fa fa-info pull-right" aria-hidden="true"></i>
        </button>
        <div id="following"
             class="collapse">
            <ul class="accordion-list">
                <li class="list-group-item"
                    ng-repeat="follows in model.iFollow">
                    {{follows.firstName}} {{follows.lastName}}
                    <span ng-click="model.unFollow(follows); init()"
                          class="glyphicon glyphicon-remove pull-right"></span>
                </li>
            </ul>
        </div>
    </li>

    <li ng-if="model.role === 'READER' || model.user.role === 'READER'"
        class="list-group-item "
        ng-click="model.savedPosts()">
        <i class="fa fa-bookmark" aria-hidden="true"></i>
        Saved Posts
    </li>

    <li ng-if="model.role === 'READER' || model.user.role === 'READER'"
        class="list-group-item "
        ng-click="model.showReaders()">
        <i class="fa fa-book" aria-hidden="true"></i>
        All Readers
    </li>

    <!--PUBLISHER OPERATIONS-->

    <li ng-if="model.role === 'READER' || model.user.role === 'READER'
        || model.role === 'PUBLISHER' || model.user.role === 'PUBLISHER'"
        class="list-group-item "
        ng-click="model.showPublishers()">
        <i class="fa fa-book" aria-hidden="true"></i>
        All Publishers
    </li>

    <li ng-if="model.user.role === 'PUBLISHER'"
        class="list-group-item "
        ng-click="model.myPosts()">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        My Posts
    </li>

    <li ng-if="model.user.role === 'PUBLISHER'"
        class=" list-group-item"
        ng-click="model.addPost()">
        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Add New Post
    </li>


    <!--CRUD Operations ADMIN-->
    <li class=" btn-default list-group-item"
        ng-if=" model.user.role === 'ADMIN'"
        ng-click="model.monitorUsers()">
        <span class="glyphicon glyphicon-search"></span>
        <i class="fa fa-book" aria-hidden="true"></i>
        Monitor All Users
    </li>
    <li class=" btn-default list-group-item"
        ng-if=" model.user.role === 'ADMIN'"
        ng-click="model.monitorPosts">
        <span class="glyphicon glyphicon-search"></span>
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        Monitor All Posts
    </li>

    <li class=" btn-default list-group-item"
        ng-if=" model.user.role === 'ADMIN'"
        ng-click="model.monitorComments()">
        <span class="glyphicon glyphicon-search"></span>
        <i class="fa fa-commenting" aria-hidden="true"></i>
        Monitor All Comments
    </li>

    <li class=" btn-default list-group-item"
        ng-if="model.user.role === 'ADMIN'"
        ng-click = "model.display = 'new-user'">

        <i class="fa fa-plus-square" aria-hidden="true"></i>
        Add New User
    </li>
</ul>

<!--CRUD Operations Common-->

<ul class="login-ul">

    <li class="btn list-group-item cancel-btn"
        ng-click="model.logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </li>

    <li class="btn list-group-item cancel-btn"
        ng-click="model.unregisterUser()">
        <span class="glyphicon glyphicon-remove"></span>
        Unregister
    </li>

    <li class="btn btn-block list-group-item login-btn"
        ng-if="!model.newUser"
        ng-click="model.editProfile()">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Profile
    </li>
</ul>

