<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="utf-8">
	<title>Shrofile Assignment</title>
	<script type="text/javascript" src="lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div ng-controller='MyController'>
    	<h1>Shrofile Assignment</h1>
    	<div class="search_div">
			<label>Search:
			  <input ng-model='title' placeholder="Search using title" autofocus>
			</label>
		</div>	
		<div class="sorting_div">
			<label>Sort By: 
				<select ng-model="sortBy">
					<option value="globalbookid">globalbookid</option>
					<option value="title">title</option>	
				</select>
			</label>
		
			<input type="radio" name="sortOrder" ng-model="sortOrder" checked>
			ascending
			<input type="radio" name="sortOrder" ng-model="sortOrder" value="reverse">
			descending
		</div>
		<table>
		 <thead>
		 	<tr>
		 		<th>Title</th>
		 		<th>Global Book Id</th>
		 	</tr>
		 </thead>
		 <tbody ng-repeat='item in books'>
		  <tr ng-repeat='i in item | filter: title | orderBy: sortBy: sortOrder'>
			<td>{{i.title}}</td>
			<td>{{i.globalbookid}}</td>
		  </tr>	
		 </tbody>  	
		</table>	
	</div>

<script type="text/javascript" src="js/script.js" ></script>
</body>
</html>