body{
    font-family: 'Open sans', serif;
    background-image: url("https://buidln.clipdealer.com/003/157/003//previews/2--3157003-technology%20network%20loop%20background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.slider-image{
    background-image:url('/public/images/slider.jpg')
}

.home-body{
    margin-top: 0px !important;
    margin-bottom: 70px;
}
.homepage{
    text-align: center;
    font-size: 26px;
    color: #ffffff;
}
.img-slider{
    padding: 0;
}
.img-slider div{
    height: 400px;
    background-size: cover;
}
.img-slider div h4{
    margin:10% auto;
    text-align: center;
    color: #ffffff;
}
.slick-arrow{
    position: absolute;
    top: 40%;
    border: none;
    color: #ffffff;
    background: transparent;
}
.slick-arrow:focus{
    outline: none;
}
.slick-prev{
    left:0;
    z-index:10;
    font-size:0;
}
.slick-prev:after{
    content: "\f104";
    display: block;
    font-size: 22px;
    padding: 5px 10px;
    font-family: FontAwesome, serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.slick-next{
    right:0;
    font-size:0;
}
.slick-next:after{
    content: "\f105";
    display: block;
    font-size: 22px;
    padding: 5px 10px;
    font-family: FontAwesome, serif;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.homepage2{
    margin-top: 40px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 10px;
    color: #ffffff;
}
.h-card{
    background: #ffffff;
    padding: 5px 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.h-card-title{
    font-weight: 600;
}
.h-card-author{
    margin-bottom: 5px;
}
p.h-card-desc{
    font-size: 12px;
    margin-top: 15px;
}
.h-card-img img{
    width: 100%;
    height: 100%;
}
.homepage3{
    margin-top: 20px;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
}
homepage3:after{
    display: block;
    content: "";
    width: 125px;
    background-color: #ffffff;
    height: 1px;
    margin: 10px auto 0;
}
.trending-div{
    border: 1px solid #ffffff;
    margin-top: 20px;
    text-align: center;
}
.trending-div home{
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    margin:20px auto;
}
.trending-div home:hover{
    text-decoration: none;
    color: blue;
}
.trending-div div .i-home{
    margin-right: 10%;
}
.category-cards{
    padding: inherit;
}
.category-cards .slick-arrow{
    background: rgba(0,0,0,0.6);
    color: #ffffff;
}
.category-cards .slick-prev{
    left: 25px;
}
.category-cards .slick-next{
    right: 23px;
}
/*header css*/
.navbar{
    border-radius: 0;
}
/* main header css*/
.navbar-form{
    margin-left: 120px;
}
