/*posts page css*/
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.posts-div{
    padding: 15px;
    border: 1px solid #ffffff;
    margin-bottom: 20px;
    background: #ffffff;
}
.posts-div h1{
    font-size: 40px;
    text-align: left;
    color: #000000;
    text-decoration: underline;
}
.posts-div h5{
    margin-bottom: 10px;
}
.posts-div h5 span{
    color: #222222;
    font-size: 20px;
}
.posts-div h4{
    font-size: 20px;
    margin-top: 10px;
}
.posts-div img{
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.3);
}
.posts-sourceNdate{
    display: inline-block;
    float: right;
}
.posts-sourceNdate a{
    margin-right: 5px;
}
.posts-div h2{
    color: #000000;
    padding-bottom: 10px;
    border-bottom: 1px solid #000000;
}
.comments-div{
    list-style: none;
    background: rgba(0,0,0,0.2);
    padding: 20px;
}
.comments-div li{
    float: left;
}
.comments-div li span:nth-child(1){
    font-size: 20px;
    margin-right: 20px;
    width: 150px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    display: table-cell;
}
.comments-div li span:nth-child(2){
    width: 10px;
    display: table-cell;
}
.comments-div li span:nth-child(3){
    font-size: 14px;
    padding-top: 7px;
    background: #ffffff;
    display: table-cell;
}