*{
	margin:0;
	padding:0;
}
body{
	margin-left: 45px;
}
h1{
	font-size: 2rem;
	text-align: center;
	font-style: italic;
	font-weight: 300;
	text-decoration: underline;
	margin-top: 30px;
}
table{
	border: 1px solid rgba(0,0,0,0.2);
}
td,th{
	text-align: center;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	border-top: 1px solid rgba(0,0,0,0.2);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
.search_div{
	margin-top: 20px;
}
.sorting_div{
	display: block;
	margin:20px auto;
}