<!--header-->
<div ng-include="'views/common/header.view.client.html'"></div>



<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 posts-div">
            <h1>{{model.post.title}}</h1>
            <h5>
                By:
                <span>
                    {{model.post._publisher.firstName}}
                    {{model.post._publisher.lastName}}
                </span>
            </h5>

            <img src="{{model.post.imageUrl}}" alt="post img" class="img-responsive">

            <h4>{{model.post.description}}</h4>

            <div class="mt20 mb20">

                <button ng-if="model.role === 'PUBLISHER' || model.user.role === 'PUBLISHER'"
                        ng-click="model.editPost(model.post._id)"
                        class="btn login-btn">
                    <i class="fa fa-pencil-square edit-icon brown-text " aria-hidden="true"></i>
                    Edit Post
                </button>
                <button ng-show="model.role === 'READER' || model.user.role === 'READER'"
                        ng-click="model.savePost()"
                        class="btn login-btn">
                    <i class="fa fa-bookmark edit-icon brown-text" aria-hidden="true"></i>
                    Save Post
                </button>

                <span class="posts-sourceNdate">
                    Source:
                        <a href="{{model.post.sourceUrl}}">Link</a>
                    Date:
                        <span>
                            {{model.post.dateCreated | date : 'short'}}
                        </span>
			    </span>
            </div>

            <h2>{{model.post.comments}}</h2>
            <ul class="comments-div clearfix">
                <li>
                    <span>Sidharth Thapar</span>
                    <span></span>
                    <span>This is some random crap from a random creep.</span>
                </li>
            </ul>
            <ul class="comments-div clearfix">
                <li>
                    <span>Swamy Muthuswamyiyer</span>
                    <span></span>
                    <span>This is some random crap from a random creep.This is some random crap from a random creep.This is some random crap from a random creep.</span>
                </li>
            </ul>
            <ul class="comments-div clearfix">
                <li>
                    <span>Hardik Gogia</span>
                    <span></span>
                    <span>This is some random crap from a random creep.</span>
                </li>
            </ul>
        </div>
    </div>
</div>


<!--footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>

