<!--header-->
<div ng-include="'views/common/header.view.client.html'"></div>




<div class="container">
    <!--Message and Error-->

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 posts-div">
            <div ng-if="model.message"
                 class="alert alert-success">
                {{model.message}}
            </div>
            <div ng-if="model.error"
                 class="alert alert-danger">
                {{model.error}}
            </div>
            <h1>{{model.post.title}}</h1>
            <h5>
                By:
                <span>
                    {{model.post._publisher.firstName}}
                    {{model.post._publisher.lastName}}
                </span>
            </h5>

            <img src="{{model.post.imageUrl}}" alt="post img" class="img-responsive">

            <h4>{{model.post.description}}</h4>

            <!--Buttons section-->
            <div class="mt20 mb20">
                <button ng-if="model.role === 'PUBLISHER' || model.user.role === 'PUBLISHER'"
                        ng-click="model.editPost(model.post._id)"
                        class="btn btn-primary">
                    <i class="fa fa-pencil-square edit-icon brown-text " aria-hidden="true"></i>
                    Edit Post
                </button>
                <button ng-show="model.user.role === 'READER'"
                        ng-click="model.savePost()"
                        class="btn btn-primary">
                    <i class="fa fa-bookmark edit-icon brown-text" aria-hidden="true"></i>
                    Save Post
                </button>

                <span class="posts-sourceNdate">
                    Source:
                        <a href="{{model.post.sourceUrl}}">Link</a>
                    Date:
                        <span >
                            {{model.post.dateCreated | date : 'short'}}
                        </span>
			    </span>
            </div>

            <!--Comment Section-->
            <h2><i class="fa fa-commenting" aria-hidden="true"></i>
                Comments:</h2>
            <ul ng-repeat="comment in model.comments" class="comments-div clearfix">
                <li>
                    <span>{{comment.author}}</span>
                    <span></span>
                    <span>{{comment.content}}</span>

                    <span class="text-right">
                        <span class="fa fa-trash-o delete-icon pull-right"
                              aria-hidden="true"
                              ng-if="model.checkAuthor(comment.author)"
                              ng-click="model.deleteComment(comment._id)">
                        </span>
                    </span>
                </li>
            </ul>
            <div class="col-xs-12">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <form ng-submit="model.addComment(model.comment); model.comment = {}">
                            <textarea ng-model="model.comment.content"
                                      placeholder="Leave a comment to this post..." ></textarea>
                            <button type="submit" class="btn btn-success green comment-btn">
                                <i class="fa fa-paper-plane"></i>
                                Comment
                            </button>
                        </form>
                    </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
            </div>

        </div>
    </div>
</div>




<!--footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>

