<!--header-->
<div ng-include="'views/common/header.view.client.html'"></div>


<!--Message and Error-->
<div ng-show="model.message"
     class="alert alert-success">
    {{model.message}}
</div>
<div ng-show="model.error"
     class="alert alert-danger">
    {{model.error}}
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 posts-div">
            <h1>{{model.post.title}}</h1>
            <h5>
                By:
                <span>
                    {{model.post._publisher.firstName}}
                    {{model.post._publisher.lastName}}
                </span>
            </h5>

            <img src="{{model.post.imageUrl}}" alt="post img" class="img-responsive">

            <h4>{{model.post.description}}</h4>

            <div class="mt20 mb20">

                <button ng-if="model.role === 'PUBLISHER' || model.user.role === 'PUBLISHER'"
                        ng-click="model.editPost(model.post._id)"
                        class="btn login-btn">
                    <i class="fa fa-pencil-square edit-icon brown-text " aria-hidden="true"></i>
                    Edit Post
                </button>
                <button ng-show="model.role === 'READER' || model.user.role === 'READER'"
                        ng-click="model.savePost()"
                        class="btn login-btn">
                    <i class="fa fa-bookmark edit-icon brown-text" aria-hidden="true"></i>
                    Save Post
                </button>

                <span class="posts-sourceNdate">
                    Source:
                        <a href="{{model.post.sourceUrl}}">Link</a>
                    Date:
                        <span >
                            {{model.post.dateCreated | date : 'short'}}
                        </span>
			    </span>
            </div>

            <h2><i class="fa fa-commenting" aria-hidden="true"></i>
                Comments:</h2>
            <ul ng-repeat="comment in model.comments" class="comments-div clearfix">
                <li>
                    <span>{{comment.author.firstName}} {{comment.author.lastName}}</span>
                    <span></span>
                    <span>{{comment.content}}</span>
                    <span class="fa fa-trash-o  delete-icon col-xs-1 pull-right" aria-hidden="true"
                          ng-click="model.deleteComment(commentId._id, model.postId)"
                          ng-if="comment._author === model.user._id"></span>
                </li>
            </ul>
            <div class="col-xs-12">
                <div class="widget-area no-padding blank">
                    <div class="status-upload">
                        <form ng-submit="model.addComment(model.comment); model.comment = {}">
                            <textarea ng-model="model.comment.content"
                                      placeholder="Leave a comment to this post..." ></textarea>
                            <button type="submit" class="btn btn-success green comment-btn">
                                <i class="fa fa-paper-plane"></i>
                                Comment
                            </button>
                        </form>
                    </div><!-- Status Upload  -->
                </div><!-- Widget Area -->
            </div>

        </div>
        </div>
    </div>
</div>


<!--footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>

