<!--header-->
<div ng-include="'views/common/header.view.client.html'"></div>


<!--Left Panel-->
<div class="col-xs-12 col-sm-4 panel-list"
     ng-include="'views/common/left-panel.view.client.html'">
</div>

<!--Right-Panel-->
<div class="col-xs-12 col-sm-8 panel-list">
    <!--Message and Error-->
    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
    <div class="col-sm-12 panel">
        <div class="panel-heading form-head">
            <h1>Add New Post</h1>
        </div>
        <div class="panel-body">
            <form name="userForm"
                  ng-submit="model.createPost(userForm.$valid, model.post)"
                  novalidate>
                <div class="form-group col-md-12">
                    <label for="title">
                        Title
                    </label>
                    <input ng-model="model.post.title"
                           type="text"
                           autofocus="autofocus"
                           class="form-control"
                           id="title"
                           placeholder="Give your post a title">
                </div>

                <div class="form-group col-md-12">
                    <label for="description">
                        Description
                    </label>
                    <textarea ng-model="model.post.description"
                              class="form-control"
                              id="description"
                              placeholder="Please enter a brief description"
                              rows="3">
                    </textarea>
                </div>

                <div class="form-group col-md-12">
                    <label for="url">
                        Image URL
                    </label>
                    <input ng-model="model.post.imageUrl"
                           class="form-control"
                           placeholder="Enter the image URL"
                           id="url"/>
                </div>

                <div class="form-group col-md-12">
                    <label for="source-url">
                        Source URL
                    </label>
                    <input ng-model="model.post.sourceUrl"
                           class="form-control"
                           placeholder="Enter the source URL"
                           id="source-url"/>
                </div>

                <div class="col-md-12">
                    <button type="submit"
                            class="btn login-btn btn-block">
                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        <b>Publish</b>
                    </button>
                    <button class="btn cancel-btn btn-block">
                       <a href="#!/profile">
                           <i class="fa fa-ban" aria-hidden="true"></i>
                           <b>Cancel</b>
                       </a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>

