<!--header-->
<div ng-include="'views/common/main-header.view.client.html'"></div>

<!--content-->
<div class="container">
    <h1 class="homepage">This is a static line for sidharth.</h1>


    <div class="img-slider">
        <div style="background-image:url('images/tech-slider.jpg')">
            <h4>Want to subscribe to publisher blogs?<br>
                Save their Posts?<br>
                Follow you fellow Readers?
                Become a registered Reader!
            </h4>
        </div>
        <div style="background-image:url('images/slider.jpg')">
            <h4>Hello! This is a line on the image.Please edit me.</h4>
        </div>
        <div style="background-image:url('images/business-slider.jpg')">
            <h4 class="slider-text">Hello! This is a line on the image.Please edit me.</h4>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-9 col-xs-12">
            <h2 class="homepage2">SPORTS</h2>
            <div class="row category-cards">
                <div class="card h-card">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author ">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
                <div class="card h-card">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
                <div class="card h-card">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
                <div class="card h-card ">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
                <div class="card h-card">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
                <div class="card h-card">
                    <h4 class="card-title h-card-title">
                        This is the title of your post Sidharth ok
                    </h4>
                    <div class="card-author h-card-author">
                        Hardik Gogia
                    </div>
                    <div class="card-img h-card-img">
                        <img src="../../../images/wexor-tmg-26886.jpg" alt="card-img h-card-img">
                    </div>
                    <p class="card-desc h-card-desc">Lorem Ipsum is simply dummy text of the unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <div class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <div class="card-date">23-06-2017</div>
                </div>
            </div>
        </div>

        <!--Trending-->
        <div class="container-fluid">
            <div class="col-sm-3 col-xs-12 trending-div">
                <h3 class="homepage3">Trending</h3>
                <a class="home"><i class="fa fa-star i-home" aria-hidden="true"></i> External Link 1</a><br>
                <a class="home"><i class="fa fa-star i-home" aria-hidden="true"></i> External Link 2</a>
                <br>
                <a class="home"><i class="fa fa-star i-home" aria-hidden="true"></i> External Link 3</a>
                <br>
                <a class="home"><i class="fa fa-star i-home" aria-hidden="true"></i> External Link 4</a>
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header col-xs-12">
        <a class="navbar-brand"
           href="#!/profile">
            <span class="glyphicon glyphicon-user"></span>
        </a>
        <a class="navbar-brand pull-right"
           href="#!/profile">
            <span class="glyphicon glyphicon-user"></span>
        </a>
    </div>
</nav>