<!--header-->
<div ng-include="'views/common/main-header.view.client.html'"></div>

<!--content-->
<div class="container">

    <h1 class="homepage"><b>Press-Portal</b> welcomes you to one stop access to all the latest news! </h1>

    <!--Top Slider-->
    <div class="img-slider">
        <div class="slider1">
            <h4 class="slider-text">
                <b>Be a Reader today! Subscribe to Publishers! Save their Posts!</b>
            </h4>
        </div>
        <div class="slider2">
            <h4 class="slider-text">
                <b>Have your own news blog! Publish new articles! Be a Publisher!
                </b>
            </h4>
        </div>
        <div class="slider3">
            <h4 class="slider-text">
                <b></b>BBC!! TechRadar!! Look up for search button, Go Search!</h4>
            </h4>
        </div>
    </div>

    <!--Sports Colun-->
    <div class="row">
        <div class="col-sm-12 col-xs-12">
            <h2 class="homepage2">SPORTS</h2>
            <div class="row category-cards">
                <div class="tik-ja card h-card"
                     ng-repeat="post in model.sports">
                    <h4 class="card-title h-card-title">
                        {{post.title}}
                    </h4>
                    <div class="card-author h-card-author ">
                        {{post.author}}
                    </div>
                    <div class="card-img h-card-img">
                        <img src="{{post.urlToImage}}" alt="card-img h-card-img">
                    </div>
                    <div ng-click="model.goToUrl(post.url)"
                         class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <p class="card-desc h-card-desc">{{post.description}}</p>
                    <div class="card-date">{{post.publishedAt | date : 'short'}}</div>
                </div>
            </div>
        </div>

        <!--Business-->
        <div class="col-sm-12 col-xs-12">
            <h2 class="homepage2">BUSINESS</h2>
            <div class="row category-cards ">
                <div class="tik-ja  card h-card"
                     ng-repeat="post in model.business">
                    <h4 class="card-title h-card-title">
                        {{post.title}}
                    </h4>
                    <div class="card-author h-card-author ">
                        {{post.author}}
                    </div>
                    <div class="card-img h-card-img">
                        <img src="{{post.urlToImage}}"
                             alt="card-img h-card-img">
                    </div>
                    <div ng-click="model.goToUrl(post.url)"
                         class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <p class="card-desc h-card-desc">{{post.description}}</p>
                    <div class="card-date">{{post.publishedAt | date : 'short'}}</div>
                </div>
            </div>
        </div>


        <!--Technology-->
        <div class="col-sm-12 col-xs-12">
            <h2 class="homepage2">TECHNOLOGY</h2>
            <div class="row category-cards ">
                <div class="card h-card tik-ja"
                     ng-repeat="post in model.tech">
                    <h4 class="card-title h-card-title">
                        {{post.title}}
                    </h4>
                    <div class="card-author h-card-author ">
                        {{post.author}}
                    </div>
                    <div class="card-img h-card-img">
                        <img src="{{post.urlToImage}}" alt="card-img h-card-img">
                    </div>
                    <div ng-click="model.goToUrl(post.url)"
                         class="card-source">
                        <a href="#">Source</a>
                    </div>
                    <p class="card-desc h-card-desc">{{post.description}}</p>
                    <div class="card-date">{{post.publishedAt | date : 'short'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div ng-include="'views/common/footer.view.client.html'"></div>
