<!--header-->
<div ng-include="'views/common/header.view.client.html'"></div>

<!--Left Panel-->
<div class="col-xs-12 col-sm-4 panel-list"
     ng-include="'views/common/left-panel.view.client.html'">
</div>

<!--Right-Panel-->
<div class="col-xs-12 col-sm-8 panel-list">
    <!--Message and Error-->
    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="panel">
        <div class="panel-heading form-head">
            <h1>
                Welcome {{model.user.firstName}}!
            </h1>
        </div>
        <div class="panel-body brown-text col-xs-12 ">
            <div class="panel-body col-xs-12">
                <div class="col-xs-2">
                    User Name:
                </div>
                <div class="col-xs-10">
                    <b>{{model.user.username}}</b>
                    <span class="glyphicon glyphicon-pencil pull-right"
                          ng-click="model.editProfile()"></span>
                </div>
            </div>
            <div class="panel-body col-xs-12">
                <div class="col-xs-2">
                    Name:
                </div>
                <div class="col-xs-10">
                    <b>{{model.user.firstName}} {{model.user.lastName}}</b>
                </div>

            </div>
            <div class="panel-body col-xs-12">
                <div class="col-xs-2">
                    Email:
                </div>
                <div class="col-xs-10">
                    <b>{{model.user.email}}</b>
                </div>
            </div>
            <div class="panel-body col-xs-12">
                <div class="col-xs-2">
                    Role:
                </div>
                <div class="col-xs-10">
                    <b>{{model.user.role}}</b>
                </div>
            </div>
            <div class="panel-body col-xs-12">
                <div class="col-xs-2">
                    Date of Join:
                </div>
                <div class="col-xs-10">
                    <b>{{model.user.dateCreated | date : 'short'}}</b>
                </div>
            </div>

            <div ng-if= "model.user.role==='READER' || model.user.role==='PUBLISHER'"
                 class="panel-body brown-text col-xs-12 ">

                <div class="card col-xs-3 col-xs-offset-1">
                    <div class="card-block">
                        <h4 class="card-title">My Subscriptions!</h4>
                        <p class="card-text brown-text">{{model.user.subscriptions.length}}</p>
                    </div>
                </div>
                <div class="card col-xs-3 col-xs-offset-1">
                    <div class="card-block">
                        <h4 class="card-title">I'm Following!</h4>
                        <p class="card-text brown-text">{{model.user.iFollow.length}}</p>
                    </div>
                </div>
                <div class="card col-xs-3 col-xs-offset-1">
                    <div class="card-block">
                        <h4 class="card-title">My Followers!</h4>
                        <p class="card-text brown-text">{{model.user.followers.length}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>
