<!--Header-->
<div ng-include="'views/common/header.view.client.html'"></div>

<!--Left Panel-->
<div class="col-xs-12 col-sm-4 panel-list"
     ng-include="'views/common/left-panel.view.client.html'">

    <!--Message and Error-->
    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>
</div>

<!--Right-Panel-->
<div class="col-xs-12 col-sm-8 panel-list">
    <div class="col-sm-12 panel">
        <div class="panel-heading form-head">
            <h1>Edit Profile</h1>
        </div>
        <div class="panel-body">
            <form name="userForm"
                  ng-submit="model.updateUserByUser(userForm.$valid, model.user)"
                  novalidate>
                <!--<div class="form-group">-->
                    <!--<label for="username">-->
                        <!--Username-->
                    <!--</label>-->
                    <!--<input ng-model="model.newUser.username"-->
                           <!--type="text"-->
                           <!--class="form-control"-->
                           <!--id="username"-->
                           <!--placeholder="Username">-->
                <!--</div>-->

                <div class="form-group ">
                    <label for="email">
                        Email address
                    </label>
                    <input ng-model="model.user.email"
                           type="email"
                           class="form-control"
                           id="email"
                           placeholder="alice@wonderland.com">
                </div>

                <div class="form-group ">
                    <label for="first-name">
                        First Name
                    </label>
                    <input ng-model="model.user.firstName"
                           type="text"
                           class="form-control"
                           id="first-name"
                           placeholder="Alice">
                </div>
                <div class="form-group ">
                    <label for="last-name">
                        Last Name
                    </label>
                    <input ng-model="model.user.lastName"
                           type="text"
                           class="form-control"
                           id="last-name"
                           placeholder="Wonderland">
                </div>

                <button type="submit"
                        class="btn login-btn btn-block">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <b>Update</b>
                </button>
            </form>
        </div>
    </div>
</div>

<!--Footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>