
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header col-xs-11">
        <a class="navbar-brand pull-left"
           href="#!/">
            <span class="glyphicon glyphicon-home"></span>
        </a>
        <a class="navbar-brand pull-left" href="#">
            Profile
        </a>
    </div>
    <div class="navbar-header col-xs-1">
    </div>
</nav>

<div class="col-xs-12 col-sm-4"
     ng-include="'views/user/templates/profile-left-panel.view.client.html'">
</div>

<!--Welocome Page-->
<div class="col-xs-12 col-sm-8"
     ng-if="model.welcome"
     ng-include="'views/user/templates/profile-welcome.view.client.html'"></div>

<!--Edit Profile Page-->

<div class="col-xs-12 col-sm-8"
     ng-if="show-edit"
     ng-include="'views/user/templates/profile-edit.view.client.html'"></div>

<div class="col-xs-12 col-sm-8"
     ng-if="show-articles"
     ng-include="'views/user/templates/profile-publisher.view.client.html'"></div>


<div ng-include="'views/common/footer.view.client.html'"></div>
