<!--Left Panel-->

<!--Profile Features-->
<ul class="list-group con">
    <li class="list-group-item active">
        <b>
            MENU
        </b>
    </li>

    <!--READER OPERATIONS-->

    <li ng-if="model.role === 'READER' && !show-publishers"
        class="list-group-item btn-default"
        ng-click="model.display = 'publishers'">
        My Subscriptions
    </li>
    <li ng-if="model.role === 'READER'"
        class="list-group-item btn-default"
        ng-click="show-followers = true">
        My Followers
    </li>

    <li ng-if="model.role === 'READER' && !show-articles"
        class="list-group-item btn-default"
        ng-click="getArticlesForUser(model.userId);
                  model.display = 'articles'">
        My Saved Articles
    </li>

    <li ng-if="model.role === 'READER'"
        class="list-group-item btn-default"
        ng-click="show-following = 'true'">
        Readers you follow
    </li>

    <!--PUBLISHER OPERATIONS-->

    <li ng-if="model.role === 'PUBLISHER' && !show-subscribers"
        class="list-group-item btn-default"
        ng-click="model.display = 'subscribers'">
        My Subscribers
    </li>

    <li ng-if="model.role === 'PUBLISHER' && !show-articles"
        class="list-group-item btn-default"
        ng-click="model.display = 'articles'">
        My Posts
    </li>

    <li ng-if="model.role === 'PUBLISHER' && !show-new"
        class="btn-default list-group-item"
        ng-click="model.display = 'new-post'">
        <a href="#!/post/new">
            <span class="glyphicon glyphicon-plus"></span>
            Create New Post
        </a>
    </li>


    <!--CRUD Operations ADMIN-->
    <li class=" btn-default list-group-item"
        ng-if=" !show-all-publishers && model.role === 'ADMIN'"
        ng-click="model.display = 'publishers'">
        <span class="glyphicon glyphicon-search"></span>
        Monitor All Publishers
    </li>
    <li class= "btn-default list-group-item"
        ng-if=" !show-all-readers && model.role === 'ADMIN'"
        ng-click="model.display = 'readers'">
        <span class="glyphicon glyphicon-search"></span>
        Monitor All Readers
    </li>
    <li class=" btn-default list-group-item"
        ng-if=" !show-all-posts && model.role === 'ADMIN'"
        ng-click="model.display = 'articles'">
        <span class="glyphicon glyphicon-search"></span>
        Monitor All Posts
    </li>
    <li class=" btn-default list-group-item"
        ng-if="!show-new-user && model.role === 'ADMIN'"
        ng-click = "model.display = 'new-user'">
        <span class="glyphicon glyphicon-plus"></span>
        Add New User
    </li>
</ul>

<!--CRUD Operations Common-->

<ul class="login-ul">

    <li class="btn btn-primary list-group-item"
        ng-click="model.logout()">
        <span class="glyphicon glyphicon-log-out"></span>
        Logout
    </li>

    <li class="btn btn-primary list-group-item"
        ng-click="model.unregisterUser()">
        <span class="glyphicon glyphicon-remove"></span>
        Unregister
    </li>

    <li class="btn btn-default list-group-item"
        ng-if="!show-edit"
        ng-click="model.display = 'edit'">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit Profile
    </li>
</ul>

