<!--Header-->
<div ng-include="'views/common/header.view.client.html'"></div>

<!--Left Panel-->
<div class="col-xs-12 col-sm-4 panel-list"
     ng-include="'views/common/left-panel.view.client.html'">
</div>

<!--Right-Panel-->
<div class="col-xs-12 col-sm-8 panel-list">
    <!--Message and Error-->
    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>
    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <div class="panel">
        <div class="panel-heading form-head">
            <h1>All Readers:</h1>
        </div>

        <div class="list-group col-xs-12 ">
            <div class="panel-body">
                <p>
                    Follow other Readers.<br>
                </p>
            </div>
            <div class="list-group-item brown-text"
                 ng-repeat="reader in model.readers">
                <div>
                    <i class="fa fa-book" aria-hidden="true"></i>
                    <b>
                        {{reader.firstName}}
                        {{reader.lastName}}
                    </b>
                    <span class="fa fa-rss  edit-icon col-xs-1 pull-right" aria-hidden="true"
                          ng-click="model.follow(reader)">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<div ng-include="'views/common/footer.view.client.html'"></div>